.image{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: url(🌿\ Herbs.jpg) no-repeat;
}
nav ul{
    border-style: solid;
    background-color: rgb(146, 206, 158);
    border-color:  whitesmoke;
    padding: 11px;
    border-radius: 11px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding: 11px;
}
a{
    text-decoration: none;
    color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.back{
    width: min-content;
    height: min-content;
    background: rgba(255, 255, 255, 0.74);
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    border: solid 3px firebrick;    
}
nav ul li a:hover{
    text-decoration: underline;
    color: rgb(8, 99, 8);
}
nav ul li a{
    text-decoration: none;
    color: black;
}