.image{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: url(🌿\ Herbs.jpg) no-repeat;
}